<h2>Create Book</h2>
<%= render 'form' %>



<h2> 책 검색 </h2>
<form id="search">
  Title:<br>
  <input type="text" id="title" name="title" value=""><br>
  <input type="submit" value="Submit">
</form>

<ul class="list-group" id="list"></ul>
<script>
	

	$("#search").submit(function(e) {
		
		var url = "https://apis.daum.net/search/book";
		var title = $(this).find("#title").val() || "코딩클럽";
		console.log(title);
		$.ajax({
          url: url,
          data: {apikey: "eac6131f84cc5fa82ba7bb2612c1607f", 
          		 q: title, 
          		 sort: "popular",
          		 pageno: 1,
          		 output: "json"
          },
          dataType : "jsonp",
	      type : "post",
	      jsonp : "callback",

          success: function(data){
            var html = '';
            $.each( data.channel.item, function(i,item){
            	console.log( JSON.stringify(item) );

            	html += "<a href='#' onClick='addBookOnList("+JSON.stringify(item)+")'><li class='list-group-item'>" + item.title + "</li></a>";
            });
            $("#list").html(html);

          },error :function(xhr,response){
            console.log("Error code is "+xhr.status+" and the error is "+response);
          }
      	});

		    e.preventDefault(); // avoid to execute the actual submit of the form.
  	});

	function addBookOnList(info){
    document.getElementById('book_title').value = info.title;
    document.getElementById('book_author').value = info.author_t;
    document.getElementById('book_year').value = info.pub_date;
    document.getElementById('book_genre').value = info.category;
    document.getElementById('book_description').value = info.description;
		//console.log(info);
	}
</script>